<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translate Example</title>

    <link href="assets/components/translate/stylesheets/screen.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        // Google WebFonts
        WebFontConfig = {
            google: { families: [ 'Maven+Pro:400,500,700:latin' ] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <script type="text/javascript">
        var TranslateConfig = {
            namespace: 'redactor',
            topic: 'default',
            language: 'nl',

            baseUrl: '//modmore/Translate/api/'
        };
    </script>
</head>
<body>

<div id="container">
    <header>
        <div class="stats">
            <p>
                Translated: <span class="translated">0</span>/<span class="total">0</span>
                &bull;
                Skipped: <span class="skipped">0</span>
                &bull;
                Credits: <span class="credits">0</span>
            </p>

            <div class="bar">
                <div class="percentage" style="width: 0;"></div>
            </div>
        </div>

        <h1>
            <a href="#" class="namespace">redactor</a> /
            <a href="#" class="language">nl</a> /
            <a href="#" class="topic">default</a>
        </h1>
    </header>


    <div id="main">
        <h3>Loading translations, just a moment...</h3>
    </div>
</div>

<script type="text/javascript" src="assets/components/translate/javascripts/libs/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="assets/components/translate/javascripts/libs/jquery.autogrowtextarea.js"></script>
<script type="text/javascript" src="assets/components/translate/javascripts/libs/underscore-min.js"></script>
<script type="text/javascript" src="assets/components/translate/javascripts/libs/backbone-min.js"></script>
<script type="text/javascript" src="assets/components/translate/javascripts/translate.js"></script>


<script type="text/template" id="entry-template">
    <h3 class="lexicon_key"><%= key %></h3>

    <h2 class="source_value"><%= original %></h2>

    <textarea class="translation"><%= translation %></textarea>

    <footer>
        <ul class="buttons">
            <li>
                <a href="javascript:void();" class="skip">Skip</a>
            </li>
            <li>
                <a href="javascript:void();" class="save">Save</a>
            </li>
            <li>
                <a href="javascript:void();" class="review">Flag & Save</a>
            </li>
        </ul>
    </footer>
</script>
<script type="text/template" id="completed-template">
</script>
</body>
</html>
